$box-shadow-lg: 7px 7px 0px 0px rgba(0, 0, 0, 1);
$box-shadow-sm: 4px 4px 0px 0px rgba(0, 0, 0, 1);

$border-radius: 0.50rem;

$card-border-color: #000;
$card-border: 3px solid #000;

$color-primary: #4d89e3;
$color-primary-100: #034fc0;
$color-danger: #f5365c;
$color-light: #f8f9fa;
$color-black: #000;
$color-white: #fff;
$color-gray: #f8f9fa;

$font-default: monospace, monospace;